.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 880px;
    min-height: 74px;
    margin: 45px auto 40px auto;
    border-bottom: 1px solid rgba(84, 84, 84, .7);
}

@media (max-width: 1023px) {
    .header {
        width: 95%;
    }
}

@media (max-width: 700px) {
    .header {
        margin-top: 28px;
        margin-bottom: 42px;
        width: 100%;
        min-height: 56px;
    }
}