.profile__info-profession {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin-block-start: 0;
    margin-block-end: 0;
    margin: 0;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media (max-width: 850px) {
    .profile__info-profession {
        margin: 0 auto;
        font-size: 14px;
        line-height: 17px;
    }
}


@media (max-width: 650px) {
    .profile__info-profession {
        text-align: center;
    }
}